.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 400px;
    width: 400px;
    outline: rgb(247, 3, 3);
    background-color: rgba(49, 250, 9, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid rgb(4, 211, 248);
}
img{
    width: 400px;
    height: 100%;
}





.card{
    margin: 50px;}
    .card img{
        height: 400px;
    }
    h5{
        text-align: center;
    }
  
   footer{
       background-color: aqua;
   }



   footer img{
       height: 200px;
       height: 200px;
       border-radius: 50%;
       margin-left: -30px;
   }
   footer{
       height: 300px;
       padding: 10px;
       background-color: gray;
   }
 
   

  